.header {
  padding: 10px;
  background-color: #f3d44b;
}

.link-wrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.link {
  color: rgb(12, 18, 48);
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  border-bottom: 2px solid transparent;
  text-align: center;

}

.link:hover {
  border-radius: 30px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.active {
  font-weight: bold;
  border-radius: 30px;
  box-shadow: rgba(146, 37, 3, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  color: white;

}

@media screen and (max-width: 500px) {
  .header{
    display: block;
  }

  .link{
    width: 100%;
  }
}
