.login-section {
  background-color: rgb(235, 212, 140);
  height: 100%;
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: rgb(182, 182, 182);
  min-width: 300px;
  height: fit-content;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 4px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.input-field {
  height: 30px;
}

.login-form-title {
  text-align: center ;
}

.login-button{
  margin-top: 20px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(247, 102, 102);
  opacity: 0.9;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.login-button {

}
