.card {
  background-color: #fcfa91;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  display: flex;
  flex-direction: column;
}

.card-img {
  width: 100%;
  border-radius: 4px;
  aspect-ratio: 2 / 1;
}

.card-description {
  font-size: 20px;
  padding: 10px;
  flex-grow: 1;
}

.card-footer, .card-header {
  text-align: center;
  padding: 10px;
  color: gray;
}
